[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-login = "*"
flask-jwt-extended = "*"
bcrypt = "*"
mysql-connector-python = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.11"
